@font-face {
    font-family: "europa";
    src: url(Europa\ Regular.ttf);
}
@font-face {
    font-family: "robert";
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: "laiba";
    src: url(Corben-Regular.ttf);
}
body {
    background-color: #f8f4f1;
    color: black;
    font-family: "europa";
}
.navbar {
    padding: 5vh 2vw;
}
.navbar-brand {
    font-size: 35px;
    font-family: "laiba";
    font-weight: 400;
}
.nav-link {
    color: black;
    font-family: "robert";
    font-size: 12px;
    margin-left: 2vw;
    margin-top: 4px;
    border-bottom: 1px solid #f8f4f1;
}
.nav-link:hover {
    border-bottom: 1px solid black;
    color: black;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.dropdown-menu {
    background-color: #f8f4f1;
    border: 1px solid black;
    border-radius: 0px;
    --bs-dropdown-padding-y: 0;
}
.dropdown-item:hover {
    color: #f54c0f;
    background-color: #ecded3;
}

.bigText {
    text-align: center;
    padding: 7vw 5vw;
    border-bottom: solid 1px grey;
}
.orange {
    color: #f54c0f;
    font-size: 35px;
    text-align: center;
    font-family: "laiba";
}
.black {
    color: black;
    font-size: 35px;
    text-align: center;
    font-family: "laiba";

}
.head1 {
    font-size: 30px;
    text-align: center;
    font-family: "laiba";
}
.h2 {
    font-size: 18px;
    font-family: "robert";
    text-align: center;
}
.clickers {
    border: 2px solid black;
    background-color: #f8f4f1;
    color: black;
    font-family: "robert";
    font-size: 15px;
    border-radius: 30px;
    padding: 15px 35px;
    text-align: center;
}
.clickers:hover {
    background-color: black;
    color: white;
}
.clickers a {
    color: black;
}
a {
    text-decoration: none;
}
.a {
    color: black;
}
.a:hover {
    color: #f54c0f;
}
.form-control:focus {
    border: black 1px solid;
    box-shadow: none;
}
.client {
    padding: 10vh 5vw;
    border-bottom: solid 1px grey;
}
.brands {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.brands:hover {
    transform: scale(1.2);
}
.borderbottom {
    border-bottom: solid 1px grey;
    padding: 12vh 5vw;
}
.profile {
    max-width: 30vw;
    border-radius: 25px;
    display: inline-block;
}
.left {
    text-align: left;
}
.accordion-button {
    background-color: #f8f4f1;
    border: none;
    color: #5eaa1c;
    font-family: "laiba";
    font-size: 20px;
    padding: 20px 5px;
}
.accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
    background-color: #f8f4f1;
}
.accordion-button:not(.collapsed) {
    background-color: #f8f4f1;
    box-shadow: none;
    color: #4c8d14;;
    border: none;
}
.accordion-item {
    border: none;
    border-bottom: 1px solid #4f772d;
}
@media only screen and (max-width: 1000px) {
    .col-4 {
        width: 100% !important;
        margin-bottom: 7vh;
    }
    .col-3 {
        width: 50% !important;
        transform: scale(1.2);
    }
    .split {
        width: 100% !important;
    }
}
.reveal {
    opacity: 0;
}
.active {
    animation: active 0.6s ease-out;
    transition: all 0.2s ease-out;
    opacity: 1;
} 
@keyframes active {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.service {
    margin-bottom: 15vh;
    padding: 40px;
    text-align: center;
}
.serviceImage {
    max-width: 400px;
    padding: 20px;
    height: auto;
    text-align: center;
}
.h3 {
    font-size: 15px;
    font-family: "robert";
    text-align: left;
}
.split {
    text-align: left;
}
.swal-button {
    background-color: #f54c0f;
    border: 1px solid black;
    font-family: "robert";
    font-weight: 100;
    letter-spacing: 1px;
}
.swal-button:not([disabled]):hover {
    background-color: #dd3d03;
    border: 1px solid black;
    font-family: "robert";
    font-weight: 100;
    letter-spacing: 1px;
}
.swal-button:active {
    background-color: black;
}
.swal-title {
    font-family: "laiba";
    color: black;
}
.swal-text {
    font-family: "robert";
}